@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: roboto;
}

/* input[type=range] {
    height: 40px;
    -webkit-appearance: none;
    margin: 10px 0;

}

input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #575757;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #264bc5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -px;
  } */

.number-section{
  margin-top: -12px;
}

@keyframes progressBarAnimation {
  15% { width: 15%; }
  30% { width: 30%; }
  70% { width: 70%; }
  100% { width: 100%; }
}


.progress-bar {
  animation: progressBarAnimation 0.001s ease-in-out;
}